 @if $show_author_username == "true" {
  .topic-list .topic-list-data {
    .right {
      margin-left: 0;
    }
    .main-link a.title {
      padding: 0.5em 0;
      + .pull-right {
        margin: 0;
      }
    }
    .topic-item-stats {
      .category,
      .discourse-tags {
        margin-bottom: 0.5em;
      }
      .pull-right {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
