.topic-list .posters {
  width: 70px;
}

#suggested-topics .topic-list {
  .topic-list-header {
    display: none;
  }

  .author.topic-list-data {
    width: 70px;
  }
}

.topic-list-item .author a {
  color: var(--primary-medium);
}
